body{
  margin: auto;
  text-align: center;
}
div{
flex-direction: column;
}
img{
  width: 400px;
  height: 400px;
}
audio{

}
button{
    background-color: #FFDED0;
    border: none;
    color: white;
    border-radius: 10px;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: "Comic Sans MS";
    font-size: 40px;
    margin-left: 30px;
    margin-bottom: 30px;
}
p{
  font-family: "Comic Sans MS";
  text-align: center;
    font-size: 30px;
    font-weight: bold;
}
